<mat-card class="register-container">
  <mat-card-title>Alta de Usuario</mat-card-title>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <div>
      <mat-label>
        Tipo de usuario:
      </mat-label>
      <mat-button-toggle-group formControlName="userType" aria-label="Tipo de ingreso" class="user-type-selector">
        <mat-button-toggle value="Candidate">
          <mat-icon>school</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="CompanyAgent">
          <mat-icon>work</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field appearance="standard">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Juan" formControlName="firstName">
      <mat-error *ngIf="validateControl('firstName') && hasError('firstName', 'required')">Debe ingresar un nombre</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Perez" formControlName="lastName">
      <mat-error *ngIf="validateControl('lastName') && hasError('lastName', 'required')">Debe ingresar un apellido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="ejemplo@mail.com" formControlName="email">
      <mat-error *ngIf="validateControl('email') && hasError('email', 'required')">Debe ingresar un email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="validateControl('password') && hasError('password', 'required')">Debe ingresar una contraseña
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Confirmá contraseña</mat-label>
      <input matInput type="password" formControlName="confirm">
      <mat-error *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Por favor confirme la contraseña
      </mat-error>
      <mat-error *ngIf="validateControl('confirm') && hasError('confirm', 'mustMatch')">Debe ingresar una contraseña
        equivalente
      </mat-error>
    </mat-form-field>
    <p *ngIf="showError" class="error">{{errorMessage}}</p>

    <div class="button">
      <a mat-button [routerLink]="['/auth/login']">Ingresar</a>
      <button type="submit" mat-button [disabled]="!registerForm.valid">Crear</button>
    </div>
  </form>
</mat-card>
