.card-text{
  padding-top: 0.5rem;
}

.empty-list-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

:host ::ng-deep .mat-list-item-content { display: inline!important; }

.list-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 4;
}

.flex{
  flex: 1;
}

.mat-list-item-column{
  display: flex;
  flex-direction: column;
}

.mat-list-item-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
  z-index: 2;
  background-color: #4d4d4d;
  padding: 1rem;
  flex: 1;
}

.mat-card
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-list{
  display: flex;
  flex-direction: row;
}

mat-list-item-row-wrapper{
  display: flex;
  width: 100%;
}

.gradient-border  {
  --border-width: 3px !important;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);


  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: 1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
