<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="currentJobOffer?.id; else elseBlock">
        {{originalTitle | titlecase}}
      </span>
      <ng-template #elseBlock>Seleccioná una oferta</ng-template>
    </mat-card-title>
  </mat-card-header>
  <form #Myform="ngForm" (submit)="saved.emit(currentJobOffer)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input type="text" matInput required placeholder="Title" [(ngModel)]="currentJobOffer.title" name="title">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Description" [(ngModel)]="currentJobOffer.description"
          name="description">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="currentJobOffer.validUntil" name="validUntil">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- <section class="full-width">
        <h4>{{currentJobOffer?.percentComplete}}% complete</h4>
        <mat-slider class="full-width" thumbLabel step="1" min="0" max="100" aria-label="units"
          [(ngModel)]="currentJobOffer.percentComplete" name="percentComplete"></mat-slider>

      </section> -->
      <!-- <section>
        <mat-checkbox class="example-margin" [(ngModel)]="currentJobOffer.favorite" name="favorite">Favorito
        </mat-checkbox>
      </section> -->
    </mat-card-content>
    <mat-card-actions>

      <button type="submit" mat-button [disabled]="!Myform.valid" color="primary">Save</button>
      <button type="button" mat-button (click)="cancelled.emit()">Cancel</button>
    </mat-card-actions>
  </form>
  <hr>
  <pre>{{Myform.value | json}}</pre>
  <pre>{{Myform.valid | json}}</pre>
</mat-card>
