.background-image {
  background-image: url('../../../assets/svg/job_search.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.layout-wrapper {
  min-height: 100vh;
}
